.header__container {
	max-width: 1920px;
}

.header__container--top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 36px;
	padding-top: 7px;
	padding-bottom: 7px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

	@media (min-width: @min-lg) {
		height: 50px;
		padding-top: 19px;
		padding-bottom: 19px;
	}
}

.header__logo {
	@media (max-width: @max-lg) {
		position: absolute;
		top: 9px;
		left: 50%;
		transform: translateX(-50%);
	}

	@media (min-width: @min-xl) {
		& img {
			width: 180px;
			height: 50px;
		}
	}
}

.header__list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;

	@media (min-width: @min-lg) {
		li:not(:last-child) {
			margin-right: 30px;
		}
	}

	@media (max-width: @max-lg) {
		li:not(:first-child) {
			display: none;
		}
	}
}

.header__icon {
	display: block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: opacity var(--transition-duration) var(--transition-function);

	&:hover {
		opacity: 0.4;
	}

	&--search {
		background-image: url(../../img/icon/search.svg);
	}

	&--notification {
		background-image: url(../../img/icon/bell.svg);
	}

	&--add {
		background-image: url(../../img/icon/add.svg);
	}

	&--user {
		background-image: url(../../img/icon/user.svg);
	}
}

.header__container--b-line {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);

	& .container {
		display: flex;
		align-items: center;
		padding: 7px 0;

		@media (min-width: @min-sm) {
			justify-content: space-between;
			padding-top: 12px;
			padding-bottom: 12px;
		}

		@media (min-width: @min-lg) {
			&::after {
				content: '';
				display: block;
				width: 20px;
				height: 4px;
				background-image: url(../../img/icon/menu.svg);
			}
		}
	}
}

.header__social {
	display: none;
}

.header__post {
	display: none;
}

@media (min-width: @min-md) {
	.header__post {
		display: block;
		padding: 16px 48px;
		font-size: 14px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.5);
		text-decoration: none;
		letter-spacing: 0.01em;
		border-radius: 8px;
		transition: background-color var(--transition-duration) var(--transition-function);

		&:hover {
			background-color: rgba(200, 200, 200, 0.2);
		}

		&::after {
			content: '';
			display: inline-block;
			width: 6px;
			height: 10px;
			margin-left: 8px;
			background-image: url(../../img/icon/arrow-right.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}
