doctype html
html(lang="en")
	head
		//  удалить
		meta(name='robots', content='noindex, nofollow')
		//  удалить
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Illumis
		link(rel="stylesheet", href="styles/main.css")
	body

		header.header
			.header__container.header__container--top
				a.header__logo(href="#")
					include ../img/logo.svg

				nav.nav
					button.nav__toggle(type="button")
						span.visually-hidden menu
					ul.nav__list
						li
							a.nav__link(href="#")
								include ../img/icon/showcase.svg
								| Витрина
						li
							a.nav__link(href="#")
								include ../img/icon/subscribe.svg
								| Подписки
						li
							a.nav__link(href="#")
								include ../img/icon/video.svg
								| Видео
						li
							a.nav__link.nav__link--current(href="#")
								include ../img/icon/blogs.svg
								| Блоги
						li
							a.nav__link(href="#")
								include ../img/icon/top.svg
								| Топ

				ul.header__list
					li
						a.header__icon.header__icon--search(href="#")
							span.visually-hidden Search
					li
						a.header__icon.header__icon--notification(href="#")
							span.visually-hidden Notification
					li
						a.header__icon.header__icon--add(href="#")
							span.visually-hidden Add
					li
						a.header__icon.header__icon--user(href="#")
							span.visually-hidden User
			.header__container.header__container--b-line
				.container
					.header__author.author
						img.author__ava(src="./img/ava.jpg", alt="profile picture", width="36", height="36")
						p.author__name
							span Zoella
							| &nbsp;•&nbsp;
							a(href="#") Подписаться
						p.author__subscribers 139K подписчиков

					ul.header__social.social
						li
							a.social__link.social__link--instagram(href="#")
								span.visually-hidden Instagram
						li
							a.social__link.social__link--twitter(href="#")
								span.visually-hidden Twitter
						li
							a.social__link.social__link--tiktok(href="#")
								span.visually-hidden TikTok
						li
							a.social__link.social__link--youtube(href="#")
								span.visually-hidden Youtube

					a.header__post(href="#") 76 постов

		main.main
			header.main__header
				.container
					h1 ПМС разрушал мою жизнь, но я навсегда избавилась от него #[img(src="./img/icon/18+.svg", alt="18+", width="28", height="28")]
					.main__info
						p 26 мая 2023  •  35K прочитали
						button(type="button", role="link", data-scroll="comments") 19 комментов

			section.container

				p Я долго не решалась говорить на эту тему, но сейчас мне хочется просто кричать! Речь пойдет о ПМС и том, что это не просто «женские капризы», а реальная проблема, справиться с которой может не каждая.

				p Я столкнулась с этими ужасными симптомами в полной мере после родов. Нет, конечно и раньше перед месячными у меня были тянущие боли в животе и груди, порой я бывала раздражительной и даже злой. Но новые симптомы ПМС стали мешать моей жизни и ввели меня в депрессию.

				picture.main__picture
					source(media="(min-width: 768px)", srcset="./img/img-1.jpg", width="1000", height="700")
					img(src="./img/img-1@md.jpg", alt="pictyre" width="280", height="196")

				p После последнего срыва во время ПМС я поняла, что страдаю не только я, но и мои близкие. Я решила обратиться за помощью к специалисту, потому что я думала, что у меня стала проявляться послеродовая депрессия. Он мне объяснил, что мое депрессивное состояние, частая смена настроения, подавленность и боли — это ПМС. После родов мой организм стал более уязвимым. Так бывает очень часто. И такие же симптомы появляются после 30 лет у девушек, которые не рожали. ПМС признали заболеванием и поэтому его стали лечить медикаментозно. Спазмолитики, обезболивающие, антидепрессанты и гормоны. Если честно, меня пугало, что придется несколько лет пить столько лекарств…
				picture.main__picture
					img(src="./img/img-2.jpg", alt="pictyre" width="280", height="178", loading="lazy")

				p Но мне повезло. Специалист сказал, что сейчас есть более безопасные средства, которые помогают избавиться от всех симптомов ПМС. Она посоветовала мне #[a(href="#") Illumis]. Этот натуральный препарат полностью изменил мою жизнь к лучшему! Я не только стала спокойной, жизнерадостной и перестала чувствовать недомогания и боли. Я больше не раздражаюсь по пустякам, не срываю рекламные контракты. Даже отношения с Алфи улучшились.

				picture.main__picture
					img(src="./img/img-3.jpg", alt="pictyre" width="280", height="344", loading="lazy")

				p #[a(href="#") Illumis] — это растительное средство на основе натуральных ингредиентов, которому пока нет аналогов. Компоненты подобраны так, что в комплексе решают сразу все проблемы ПМС: улучшают психоэмоциональное состояние, снимают боль, улучшают сон. Принимать его необходимо за 10 дней до начала менструации и никаких симптомов вы не почувствуете.

				p Весь секрет Illumis — в составе. В нем содержатся #[b CBD] и #[b CBG]. Да, это каннабидиолы, получаемые из растерния Cannabis Sativa, но вам не стоит беспокоиться. Эти ингредиенты не обладают опьяняющим действием и не разрушают нервную систему. Наоборот, они только помогают ей и поэтому происходят перепады настроения, депрессивное и подавленное состояния. CBD и CBG улучшают женское здоровье и не дают гормонам управлять вами во время ПМС.

				p Принимая эти средства, я вижу результаты. Меня больше не беспокоят боли и слабость. Я стала более энергичной и собранной. У меня даже прошли прыщики, которые вскакивают до и во время цикла, и перестало тянуть на вредную еду. Специалист объяснил мне, что натуральные компоненты в Illumis восстанавливают обменные процессы в яичниках, что приводит к нормализации выработки эстрогенов и прогестерона во всех фазах цикла. Именно поэтому и менструация у меня стала проходить безболезненно. Я полностью доверяю этому средству, так как оно произведено в Великобритании по высоким стандартам качества.
				picture.main__picture
					img(src="./img/img-4.jpg", alt="pictyre" width="280", height="239", loading="lazy")

				p Когда я стала рассказывать об #[a(href="#") Illumis] своим подругам, ни одна из них вообще не знала, что есть такое средство. Поэтому я посчитала своим долгом рассказать о нем и вам. Ведь оно может изменить качество жизни женщин по всему миру!

				p К моему удивлению, производитель долго не хотел давать скидку даже за рекламу. Средство действительно крутое и не нуждается в раскрутке. Но нам все-таки удалось договориться о снижении цены только для моих подписчиков. Предложение действует всего несколько дней, поэтому не упустите шанс заказать Illumis по самой выгодной цене. Такая акция вряд ли повторится.
				picture.main__picture
					img(src="./img/prod.png", alt="pictyre" width="220", height="322", loading="lazy")

				a.big-button(href="#") Получить скидку #[br] от производителя

				p Поделитесь в комментариях своими историями, как вы себя чувствуете во время ПМС. И знаете ли еще какие-нибудь средства, которые помогают облегчить его симптомы?

			footer.main__footer
				.container
					p.container
						button.main__footer-icon.main__footer-icon--like(type="button") 319
							span.visually-hidden Like
						button.main__footer-icon.main__footer-icon--share(type="button") 527
							span.visually-hidden Share
						button.main__footer-icon.main__footer-icon--comments(type="button", data-scroll="comments") 19
							span.visually-hidden Comments
						button.main__footer-icon.main__footer-icon--dislike(type="button")
							span.visually-hidden Dislike

			section#comments.comments.container
				header.comments__header
					h2 Комментарии #[span 19]
					select.comments__sort
						option по популярности
						option сначала новые
						option сначала старые
					.comments__info
						p Комментировать канал Zoella #[br] могут только подписчики
						a.comments__subscribe(href="") Подписаться
				ul.comments__list
					li
						.comments__author
							img(src="./img/ava-defolt.svg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b andersen] 5 days ago
						p Zoe, аплодирую стоя! Ни один блогер еще не поднимал эту тему. Для меня актуально как никогда. Во время ПМС испытываю ужасные гормональные скачки. Спрашивала у своего гинеколога что делать, она сказала что ничего, это особенности организма. А оказывается уже придумали средства для смягчения этих симптомов. Обязательно попробую.
						p.comments__footer
							button.comments__icon.comments__icon--like(type="button")
								span.visually-hidden Like
								| 28
							button.comments__icon.comments__icon--dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/ava-defolt.svg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Stella Maxwell] 5 days ago
						p А я давно знаю об этом средстве и пользовалась им ни раз. У него кстати накопительный эффект, после того, как несколько раз пропьешь, компоненты накапливаются и продолжают работать. То есть не надо прям постоянно принимать, это удобно.
						picture.main__picture
							img(src="./img/img-5.jpg", alt="Illumis", width="240", height="427", loading="lazy")
						p.comments__footer
							button.comments__icon.comments__icon--like(type="button")
								span.visually-hidden Like
								| 15
							button.comments__icon.comments__icon--dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/ava-defolt.svg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Eugenie Bouu] 5 days ago
						p А я считаю что ПМС это абсолютно нормально! Во все времена это было у женщин и ничего, выжили как-то. А тут прям как прорвало всех, отовсюду про ПМС вещают. Делать что ли больше нечего…
						p.comments__footer
							button.comments__icon.comments__icon--like(type="button")
								span.visually-hidden Like
								| 13
							button.comments__icon.comments__icon--dislike(type="button")
								span.visually-hidden Dislike
						ul.comments__list
							li
								.comments__author
									img(src="./img/ava-defolt.svg", alt="profile picture", width="36", height="36", loading="lazy")
									span #[b i am wavrinka] 5 days ago
								p Вы не правы, такие гормональные скачки очень влияют на нервную систему, я так себе нервный срыв заработала. Благо попался хороший специалист, который посоветовал не над последствиями работать, а над самой проблемой. И порекомендовал капли Illumis. Мне уже после первого 10-дневного курса стало легче. Теперь пропиваю периодически по необходимости.
								p.comments__footer
									button.comments__icon.comments__icon--like(type="button")
										span.visually-hidden Like
										| 5
									button.comments__icon.comments__icon--dislike(type="button")
										span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/ava-defolt.svg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 5 days ago
						p Пробовала Illumis, действительно помогает. У меня во время ПМС были головные боли, апатия, усталость, когда пьешь эти капли, ничего этого нет. Круто что они на растительной основе, сейчас мало таких средств.
						picture.main__picture
							img(src="./img/img-6.jpg", alt="Illumis", width="240", height="300", loading="lazy")
						p.comments__footer
							button.comments__icon.comments__icon--like(type="button")
								span.visually-hidden Like
								| 5
							button.comments__icon.comments__icon--dislike(type="button")
								span.visually-hidden Dislike
				a.big-button(href="#") Получить скидку #[br] от производителя
			.aside.container
				h2 Другие посты Zoella
				ul.aside__list
					li
						picture.main__picture
							img(src="./img/aside-1.jpg", alt="Illumis", width="240", height="162", loading="lazy")
						a(href="#") Cannabigerol (CBG): Uses and Benefits
						span 30 мая 2023  •  27K прочитали
					li
						picture.main__picture
							img(src="./img/aside-2.jpg", alt="Illumis", width="240", height="162", loading="lazy")
						a(href="#") История Запуска Полутора Миллионов Воздушных Шаров
						span 6 февраля 2023  •  93 откомментили
					li
						picture.main__picture
							img(src="./img/aside-3.jpg", alt="Illumis", width="240", height="162", loading="lazy")
						a(href="#") The Best Ways to Use and Consume CBG
						span 28 марта 2023  •  1095 поделились
		footer.footer
			.container
				a(href="#")
					img(src="./img/logo-white.svg", alt="logo", loading="lazy")
				p © 2023 iBlogs Media LLC™. All rights reserved. Our website services, content, and products are for informational purposes only.
				ul.footer__list
					li
						a(href="#") All about iBlogs
					li
						a(href="#") Конфиденциальность
					li
						a(href="#") Пользовательское соглашение
					li
						a(href="#") Contacts
					li
						a(href="#") iBlogs на iOS и Android
