doctype html
html(lang="en")
	head
		//  удалить
		meta(name='robots', content='noindex, nofollow')
		//  удалить
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Illumis
		link(rel="stylesheet", href="styles/main.css")
	body

		script
			include ../../dest/scripts/main.min.js

		header.header
			.header__container.header__container--top
				a.header__logo(href="#")
					include ../img/logo.svg

				nav.nav
					button.nav__toggle(type="button")
						span.visually-hidden menu
					ul.nav__list
						li
							a.nav__link(href="#")
								include ../img/icon/showcase.svg
								| Витрина
						li
							a.nav__link(href="#")
								include ../img/icon/subscribe.svg
								| Подписки
						li
							a.nav__link(href="#")
								include ../img/icon/video.svg
								| Видео
						li
							a.nav__link.nav__link--current(href="#")
								include ../img/icon/blogs.svg
								| Блоги
						li
							a.nav__link(href="#")
								include ../img/icon/top.svg
								| Топ

				ul.header__list
					li
						a.header__icon.header__icon--search(href="#")
							span.visually-hidden Search
					li
						a.header__icon.header__icon--notification(href="#")
							span.visually-hidden Notification
					li
						a.header__icon.header__icon--add(href="#")
							span.visually-hidden Add
					li
						a.header__icon.header__icon--user(href="#")
							span.visually-hidden User
			.header__container.header__container--b-line
				.container
					.header__author.author
						img.author__ava(src="./img/ava.jpg", alt="profile picture", width="36", height="36")
						p.author__name
							span Zoella
							| &nbsp;•&nbsp;
							a(href="#") Подписаться
						p.author__subscribers 139K подписчиков

					ul.header__social.social
						li
							a.social__link.social__link--instagram(href="#")
								span.visually-hidden Instagram
						li
							a.social__link.social__link--twitter(href="#")
								span.visually-hidden Twitter
						li
							a.social__link.social__link--tiktok(href="#")
								span.visually-hidden TikTok
						li
							a.social__link.social__link--youtube(href="#")
								span.visually-hidden Youtube

					a.header__post(href="#") 76 постов

		main.main
			header.main__header
				.container
					h1 PMS almost ruined my&nbsp;life. #[img(src="./img/icon/18+.svg", alt="18+", width="28", height="28")]
					.main__info
						p #[script dtime(-5);]  •  35K прочитали
						button(type="button", role="link", data-href="comments") 18 комментов

			section.container

				p I&nbsp;never really dared to&nbsp;discuss this topic for a&nbsp;long time, but now&nbsp;I just want to&nbsp;scream it&nbsp;out! I&rsquo;m going to&nbsp;talk about PMS and the fact that it&nbsp;is&nbsp;not just another women&rsquo;s whims, but a&nbsp;real issue that not everyone can cope with.

				p I&nbsp;faced these terrible symptoms to&nbsp;the fullest after giving birth. Sure, I&nbsp;used to&nbsp;have nagging pains in&nbsp;my&nbsp;stomach and chest before my&nbsp;periods, sometimes&nbsp;I was irritable and even angry. PMS symptoms began to&nbsp;interfere with my&nbsp;life and had me&nbsp;depressed, irritated, in&nbsp;pain almost all the time.

				picture.main__picture
					source(media="(min-width: 768px)", srcset="./img/img-1.jpg", width="1000", height="700")
					img(src="./img/img-1@md.jpg", alt="pictyre" width="768", height="538")

				p All my&nbsp;relatives know that they best not mess with me&nbsp;during this very week before my&nbsp;period. I&nbsp;don&rsquo;t sleep well, I&rsquo;m easily get mad at&nbsp;others, and&nbsp;I can&rsquo;t properly focus on&nbsp;my&nbsp;work. A&nbsp;while ago, I&nbsp;screwed up&nbsp;a&nbsp;major advertising contract just because&nbsp;I freaked out and didn&rsquo;t go&nbsp;to&nbsp;an&nbsp;important meeting. I&nbsp;was tired and just wanted to&nbsp;live a&nbsp;full life!
				picture.main__picture
					img(src="./img/img-2.jpg", alt="pictyre" width="742", height="472", loading="lazy")

				p After my&nbsp;last meltdown during PMS, I&nbsp;realized that not only&nbsp;I was suffering, but also my&nbsp;loved ones. I&nbsp;decided to&nbsp;seek help from a&nbsp;specialist because&nbsp;I thought&nbsp;I was experiencing postpartum depression. The doctor explained to&nbsp;me&nbsp;that my&nbsp;depression, frequent mood swings and pain meant that&nbsp;I suffered from severe PMS. My&nbsp;body became more vulnerable after giving birth. This happens very often. These symptoms also appear in&nbsp;girls over 30&nbsp;who have not given birth. My&nbsp;healthcare practitioner treated PMS as&nbsp;a&nbsp;disease and therefore began to&nbsp;provide me&nbsp;with harmful medication. Antispasmodics, painkillers, antidepressants, and hormone pills. Honestly, I&nbsp;was scared that&nbsp;I would have to&nbsp;result in&nbsp;taking all these drugs for several years...

				p Luckily, I&nbsp;found another specialist who said that there are now a&nbsp;few remedies that help reduce all PMS symptoms. She recommended using Illumis. This natural product has completely changed my&nbsp;life for the better! Not only did&nbsp;I become more calm, cheerful and stopped feeling so&nbsp;much pain. I&nbsp;no longer felt so&nbsp;irritated over trifles, and best of&nbsp;all, I&nbsp;completely stopped taking my&nbsp;medication. Even our relationship with Alfie has improved.

				p Illumis is&nbsp;a&nbsp;herbal remedy based on&nbsp;natural ingredients, which has no&nbsp;analogues yet. The components of&nbsp;the product are selected in&nbsp;such a&nbsp;way that they target all PMS problems at&nbsp;once: optimise the psycho-emotional state, relieve pain, and improve sleep. I&nbsp;would take the oil daily, 10&nbsp;days before the start of&nbsp;your period and&nbsp;I would barely feel any symptoms at&nbsp;all.

				picture.main__picture
					img(src="./img/img-3.jpg", alt="pictyre" width="570", height="700", loading="lazy")

				p The secret of&nbsp;Illumis is&nbsp;in&nbsp;the composition. It&nbsp;contains CBD and CBG. Yes, these are cannabidiols derived from the Cannabis Sativa plant, but they are safe and do&nbsp;not make you &laquo;high&raquo;. These ingredients do&nbsp;not have an&nbsp;intoxicating effect and do&nbsp;not destroy the nervous system. On&nbsp;the contrary, they help stimulate your body to&nbsp;work the way it&nbsp;should. CBD and CBG improved my&nbsp;wellbeing 100-fold and kept my&nbsp;hormones from taking over during PMS.

				picture.main__picture
					img(src="./img/img-4.jpg", alt="pictyre" width="742", height="634", loading="lazy")

				p I&nbsp;see results with this product. I&nbsp;am no&nbsp;longer worried about pain and weaknesses. I&nbsp;have become more energetic and organized. I&nbsp;even see a&nbsp;reduction in&nbsp;acne that used to&nbsp;pop up&nbsp;before and during my&nbsp;period. I&nbsp;also stopped eating junk food and began going to&nbsp;the gym regularly. The specialist explained the science behind the formula, except all&nbsp;I remember is&nbsp;that it&nbsp;helps the body and main organs in&nbsp;the reproductive duct and brain establish balance and harmony, helping regulate things like hormones, mood, appetite and stress. I&nbsp;have always had complete confidence in&nbsp;this product as&nbsp;it&nbsp;is&nbsp;manufactured in&nbsp;the&nbsp;UK and meets the highest quality standards. I&rsquo;m in&nbsp;love and recommend it&nbsp;to&nbsp;all my&nbsp;female friends!

				p I&nbsp;shared this with my&nbsp;friends, and not surprisingly, none of&nbsp;them believed such a&nbsp;remedy existed out there. So&nbsp;I&nbsp;made it&nbsp;my&nbsp;duty to&nbsp;share my&nbsp;experiences with illumis. After all, it&nbsp;changed everything for&nbsp;me.

				p So, I&nbsp;took it&nbsp;upon myself to&nbsp;contact the manufacturers of&nbsp;illumis and asked them if&nbsp;they where willing to&nbsp;do&nbsp;a&nbsp;little collaboration. To&nbsp;my&nbsp;surprise, they where actually extremely friendly and allowed me&nbsp;to&nbsp;advertise their product! The solution is&nbsp;really cool and it&nbsp;does not need additional promotion. We&nbsp;managed to&nbsp;agree on&nbsp;a&nbsp;price reduction for my&nbsp;subscribers. This offer is&nbsp;only valid for a&nbsp;few days, so&nbsp;don&rsquo;t miss your chance to&nbsp;order Illumis. Such a&nbsp;deal is&nbsp;unlikely to&nbsp;happen again.

				picture.main__picture
					img(src="./img/prod.png", alt="pictyre" width="432", height="632", loading="lazy")

				a.big-button(href="#") Get manufacturer #[br] discount

				p Could you please share your stories in&nbsp;the comments about how PMS makes you feel? Please share any other remedies you use to&nbsp;help relieve symptoms.

			footer.main__footer
				.container
					p.container
						button.main__footer-icon.main__footer-icon--like.like(type="button") 319
						button.main__footer-icon.main__footer-icon--share(type="button") 527
							span.visually-hidden Share
						button.main__footer-icon.main__footer-icon--comments(type="button", data-href="comments") 18
							span.visually-hidden Comments
						button.main__footer-icon.main__footer-icon--dislike.dislike(type="button")
							span.visually-hidden Dislike

			section#comments.comments.container
				header.comments__header
					h2 Comments #[span 18]
					select.comments__sort
						option по популярности
						option сначала новые
						option сначала старые
					.comments__info
						p Комментировать канал Zoella #[br] могут только подписчики
						a.comments__subscribe(href="") Подписаться
				ul.comments__list
					li
						.comments__author
							img(src="./img/avatar/ava-1.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b andersen] 5 days ago
						p Zoe, you&rsquo;ve forever earned my&nbsp;respect! No&nbsp;blogger has yet raised this topic. For&nbsp;me, it&rsquo;s more relevant than ever. My&nbsp;hormones go&nbsp;crazy before my&nbsp;period. I&nbsp;asked my&nbsp;gynecologist about the ways of&nbsp;getting through&nbsp;it, but she said that nothing could be&nbsp;really done... And it&nbsp;turns out they have already come up&nbsp;with remedies to&nbsp;mitigate these symptoms. I&rsquo;ll definitely give it&nbsp;a&nbsp;try.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 28
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-2.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Stella Maxwell] 5 days ago
						p I&rsquo;ve known about this product for a&nbsp;long time and&nbsp;I have used it&nbsp;many times. By&nbsp;the way, it&nbsp;has a&nbsp;cumulative effect&nbsp;&mdash; the components accumulate and continue working after you take a&nbsp;couple of&nbsp;courses. That&nbsp;is, you don&rsquo;t need to&nbsp;take the drops all the time, which comes in&nbsp;handy.
						picture.main__picture
							img(src="./img/img-5.jpg", alt="Illumis", width="412", height="735", loading="lazy")
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 15
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-3.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Eugenie Bouu] 5 days ago
						p The only thing that helps me&nbsp;cope with PMS is&nbsp;sweets. So&nbsp;I&nbsp;always gain 1-2 kilos and then drop them. Apparently, my&nbsp;body needs some joy at&nbsp;such moments, and sweets help with this.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 13
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
						li
							.comments__author
								img(src="./img/avatar/ava-4.jpg", alt="profile picture", width="36", height="36", loading="lazy")
								span #[b i am wavrinka] 5 days ago
							p I&nbsp;think PMS is&nbsp;totally normal! Women used to&nbsp;face this issue at&nbsp;all times, and they survived somehow lol. Nowadays, everyone is&nbsp;crazy about PMS, everywhere! Don&rsquo;t you guys have other topics to&nbsp;discuss, huh?
							p.comments__footer
								button.comments__icon.comments__icon--like.like(type="button")
									| 5
								button.comments__icon.comments__icon--dislike.dislike(type="button")
									span.visually-hidden Dislike
							ul.comments__list
								li
									.comments__author
										img(src="./img/avatar/ava-5.jpg", alt="profile picture", width="36", height="36", loading="lazy")
										span #[b Ilona Deutsch] 5 days ago
									p You are wrong, such hormonal surges greatly affect the nervous system. I&nbsp;got a&nbsp;nervous breakdown because of&nbsp;that. Fortunately, I&nbsp;found a&nbsp;good specialist who told me&nbsp;I should not work on&nbsp;the consequences, but on&nbsp;the problem itself. She recommended Illumis drops. I&nbsp;felt better after the first 10-day course. Now I&nbsp;take it&nbsp;occasionally if&nbsp;needed.
									picture.main__picture
										img(src="./img/img-6.jpg", alt="Illumis", width="480", height="601", loading="lazy")
									p.comments__footer
										button.comments__icon.comments__icon--like.like(type="button")
											| 6
										button.comments__icon.comments__icon--dislike.dislike(type="button")
											span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-6.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 4 days ago
						p Zoe, you are not only beautiful on&nbsp;the outside but as&nbsp;well as&nbsp;on&nbsp;the inside. Thanks for sharing these tips.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 9
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-7.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Zoesugg] 4 days ago
						p Dunno why&nbsp;I read this post, but now&nbsp;I want to&nbsp;comment. My&nbsp;girlfriend just goes wild on&nbsp;her period, threatening to&nbsp;break up&nbsp;with&nbsp;me. Will Illumis help her? Where can&nbsp;I order it&nbsp;from?
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 0
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
						ul.comments__list
							li
								.comments__author
									img(src="./img/avatar/ava-8.jpg", alt="profile picture", width="36", height="36", loading="lazy")
									span #[b Ilona Deutsch] 4 days ago
								p Zoesugg: I&nbsp;wish all guys were sensitive like you :) You&rsquo;re doing great taking care of&nbsp;your girlfriend. You can order Illumis drops on&nbsp;the official website, here is&nbsp;the discount link. Good luck!
								p.comments__footer
									button.comments__icon.comments__icon--like.like(type="button")
										| 3
									button.comments__icon.comments__icon--dislike.dislike(type="button")
										span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-9.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 4 days ago
						p Girls who are not fully exposed to&nbsp;PMS will never understand all the challenges this condition brings. When your whole body hurts and cramps, your mood jumps at&nbsp;the speed of&nbsp;light, you can&rsquo;t focus on&nbsp;anything. This happens to&nbsp;me&nbsp;almost every month :(
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 6
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-10.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 4 days ago
						p The best remedy during PMS is&nbsp;yelling at&nbsp;your husband :))) Just kidding. I&rsquo;ll look into Illumis myself, I&rsquo;m having a&nbsp;hard time these days, too.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 5
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-11.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 3 days ago
						p I&nbsp;tried Illumis and it&nbsp;really helps. I&nbsp;had headaches, apathy, and fatigue during my&nbsp;periods. But all these problems disappear as&nbsp;soon as&nbsp;you start taking these drops. Most importantly, they are plant-based, which is&nbsp;not quite common on&nbsp;the market nowadays.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 7
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-12.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 3 days ago
						p Zoe, thanks for bringing this&nbsp;up. I&nbsp;had a&nbsp;fight with my&nbsp;hubby yesterday.. I&nbsp;tried to&nbsp;explain to&nbsp;him that&nbsp;I don&rsquo;t get irritated during periods intentionally, that&rsquo;s all about physiology! But he&nbsp;wouldn&rsquo;t believe&nbsp;it! I&nbsp;even showed him your posting. Thanks for the recommendation, I&rsquo;ve already ordered Illumis.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 3
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-13.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 2 days ago
						p My&nbsp;friend just told me&nbsp;about this solution, what a&nbsp;coincidence)))
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 4
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-14.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 2 days ago
						p Hello everyone! In&nbsp;fact, if&nbsp;you keep ignoring PMS symptoms for a&nbsp;long time, a&nbsp;serious hormonal failure or&nbsp;genital problems can occur. For example, my&nbsp;libido dropped a&nbsp;lot, they searched for the cause, and it&nbsp;turned out to&nbsp;be&nbsp;PMS. Now I&nbsp;take Illumis regularly, I&nbsp;feel much better and my&nbsp;sex drive is&nbsp;coming back.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 6
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-15.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 2 days ago
						p Oddly enough, exercise helps me&nbsp;during PMS. I&nbsp;spit out all the anger. Although many people simply do&nbsp;not want to&nbsp;move during this period at&nbsp;all. We&nbsp;are all different.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 0
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-16.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 2 days ago
						p Thank God I&nbsp;do not have severe PMS symptoms, but&nbsp;I know from my&nbsp;friends how hard it&nbsp;is. Not everyone gets&nbsp;it, unfortunately :(
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 5
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
					li
						.comments__author
							img(src="./img/avatar/ava-17.jpg", alt="profile picture", width="36", height="36", loading="lazy")
							span #[b Ilona Deutsch] 1 days ago
						p I&rsquo;m just PMSing right now! I&rsquo;m going crazy and&nbsp;I can&rsquo;t do&nbsp;anything about&nbsp;it: ((( I&nbsp;got into a&nbsp;fight with a&nbsp;coworker. Maybe it&rsquo;s time to&nbsp;order these drops.
						p.comments__footer
							button.comments__icon.comments__icon--like.like(type="button")
								| 3
							button.comments__icon.comments__icon--dislike.dislike(type="button")
								span.visually-hidden Dislike
						ul.comments__list
							li
								.comments__author
									img(src="./img/avatar/ava-18.jpg", alt="profile picture", width="36", height="36", loading="lazy")
									span #[b Ilona Deutsch] 1 days ago
								p Same here! My&nbsp;stomach hurts, my&nbsp;head is&nbsp;splitting. I&nbsp;don&rsquo;t even want to&nbsp;get out of&nbsp;bed on&nbsp;days like this. Why didn&rsquo;t I&nbsp;know about Illumis before?
								p.comments__footer
									button.comments__icon.comments__icon--like.like(type="button")
										| 2
									button.comments__icon.comments__icon--dislike.dislike(type="button")
										span.visually-hidden Dislike

				a.big-button(href="#") Get manufacturer #[br] discount
			.aside.container
				h2 Другие посты Zoella
				ul.aside__list
					li
						picture.main__picture
							img(src="./img/aside-1.jpg", alt="Illumis", width="272", height="185", loading="lazy")
						a(href="#") Cannabigerol (CBG): Uses and Benefits
						span #[script dtime(-10);]  •  27K прочитали
					li
						picture.main__picture
							img(src="./img/aside-2.jpg", alt="Illumis", width="272", height="185", loading="lazy")
						a(href="#") История Запуска Полутора Миллионов Воздушных Шаров
						span #[script dtime(-14);]  •  93 откомментили
					li
						picture.main__picture
							img(src="./img/aside-3.jpg", alt="Illumis", width="272", height="185", loading="lazy")
						a(href="#") The Best Ways to Use and Consume CBG
						span #[script dtime(-19);]  •  1095 поделились
		footer.footer
			.container
				a.footer__logo(href="#")
					img(src="./img/logo-white.svg", alt="logo", loading="lazy", width="110", height="30")
				p © #[script document.write((new Date).getFullYear());] iBlogs Media LLC™. All rights reserved. Our website services, content, and products are for informational purposes only.
				ul.footer__list
					li
						a(href="#") All about iBlogs
					li
						a(href="#") Конфиденциальность
					li
						a(href="#") Пользовательское соглашение
					li
						a(href="#") Contacts
					li
						a(href="#") iBlogs на iOS и Android
